<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TF Contrib Analyzer</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"/>


    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"/>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}"/>


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">


    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='device-mockups/device-mockups.min.css') }}"/>


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-age.css') }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125864691-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-125864691-1');
    </script>


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">TF Contrib Analyzer</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://github.com/kingspp">@kingspp</a>


                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       href="https://github.com/kingspp/tf-contrib-analyzer">@fork</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5" style="color: #FFF">Contrib Package has over <b>1173</b> API's, is used in
                        <b>8864</b> lines across <b>487</b> projects! <br/><span style="font-size: 0.4em">- Source Github</span>
                    </h1>
                    {#              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">- Github</a>#}
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="{{ url_for('static', filename='img/tf-logo.png') }}" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="download bg-primary text-center" id="download">
    <h2 class="section-heading" style="margin-top: -72px; padding-bottom: 25px">Discover the usage!</h2>
    <div class="container" style="padding-top:10px; padding-bottom: 50px; color:#000">

        <div class="row h-100 custom_shadow">

            <div class="col-md-12" style="padding: 25px;">
                <table id="example" class="display" width="100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>API Name</th>
                        <th>Usage</th>
                        <th>Stars</th>
                        <th>Issues</th>
                        <th>Fork</th>
                        <th>Created On</th>
                        <th>Last Updated On</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th>API Name</th>
                        <th>Usage</th>
                        <th>Stars</th>
                        <th>Issues</th>
                        <th>Fork</th>
                        <th>Created On</th>
                        <th>Last Updated On</th>
                    </tr>
                    </tfoot>

                </table>
                {#                </div>#}
            </div>
        </div>

        <div class="row" style="padding-top: 10px">
            <a href="https://github.com/yefim/flask-heroku-sample">Yefim - Heroku Flask Boilerplate |</a> &nbsp;&nbsp;
            <a href="https://github.com/BlackrockDigital/startbootstrap-new-age">BlackRockDigital - Bootstrap
                Template</a>
        </div>


    </div>
</section>


<section class="features" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <iframe id='ifrme'
                        src="https://kingspp.github.io/algo/2018/09/10/analysis-of-tensorflow-contrib-sunset.html"
                        frameborder="0" style="overflow: hidden; height: 800%; width: 100%;"></iframe>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ url_for('static', filename='js/new-age.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>


    $(document).ready(function () {

        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.replace(new RegExp(search, 'g'), replacement);
        };

        function format(table_id) {

            return '<table id="' + table_id + '" class="display" border="0" style="padding-left:50px; width:100%;">' +
                '<thead>' +
                '<th>Repo</th>' +
                '<th>L no</th>' +
                '<th>Stars</th>' +
                '<th>Forks</th>' +
                '<th>Issues</th>' +
                '<th>Size</th>' +
                '<th>API Search Score</th>' +
                '<th>Topic Search Score</th>' +
                '<th>Created On</th>' +
                '<th>Last Updated On</th>' +
                '</thead>' +
                '</table>';
        }


        function sub_DataTable(vtask_id, table_id) {
            var subtable = $('table#' + table_id).DataTable({
                ajax: "/get_repos?api=" + vtask_id,

                order: [[2, 'des']],
                "columnDefs": [
                    {"width": "10%", "targets": 0}
                ],
                columns: [
                    {
                        "width": "10%",
                        "data": "repo_name", "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='" + oData.file_url + '#L' + oData.line_no + "' style='color:#007bff'>" + oData.repo_name + '/' + oData.path + "</a>");
                        }
                    },
                    {"data": "line_no"},
                    {"data": "stars"},
                    {"data": "forks"},
                    {"data": "open_issues"},
                    {"data": "size"},
                    {"data": "api_search_score"},
                    {"data": 'topic_search_score'},
                    {"data": "created_on"},
                    {"data": "updated_on"},
                ]
            });
        }


        var dt = $('#example').DataTable({
            ajax: "{{ url_for('static', filename="data/stats.json") }}",
            order: [[2, 'des']],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": ""
                },
                {"data": "api"},
                {"data": "total_usage"},
                {"data": "total_stars"},
                {"data": "total_issues"},
                {"data": "total_fork"},
                {"data": "created_on"},
                {"data": "updated_on"}

            ]
        });

        var detailRows = [];

        $('#example tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dt.row(tr);
            var idx = $.inArray(tr.attr('id'), detailRows);

            if (row.child.isShown()) {
                tr.removeClass('details');
                row.child.hide();
                detailRows.splice(idx, 1);
            }
            else {
                tr.addClass('details');
                var virtual_task_id = row.data()['api'];
                var subtable_id = "subtable-" + virtual_task_id.replaceAll('.', '-');
                row.child(format(subtable_id)).show();
                tr.addClass('shown');
                sub_DataTable(virtual_task_id, subtable_id);
            }
        });

        dt.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });
    });
</script>

</body>

</html>
